module.exports = {
  'stravaTokenAPI': 'https://www.strava.com/oauth/token',
  'stravaDataAPI': 'https://www.strava.com/api/v3/athlete/activities',
  'clientId': '<CLIENT_ID>',
  'clientSecret': '<CLIENT_SECRET>',
  'stravaTestCode': '26878014e531752c40dd8e041f562941f7b7b2e7'
}
